<!--Student_Management/app/templates/teacher/teacher.html-->

{% extends 'layout/base.html' %}

{% block content %}

<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Trang chủ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Nhập / sửa điểm</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Xem bảng điểm</a>
        </li>

      </ul>

      <!-- Thêm ms-auto để căn khối này sang phải -->
      <ul class="navbar-nav ms-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item mr-3 ml-3">
          <a class="nav-link text-danger" href="/teacher">
              <img src="{{current_user.avatar}}" width="30" class="rounded-circle">
              <span class="ms-3">{{current_user.username}}</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="/logout">Đăng xuất</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link text-danger" href="/login">Đăng nhập</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!--Feature-->
{%block feature required%}

<!--làm tình năng trong đây-->

{%endblock%}

{%endblock%}